/*The image styling below satisfies User Story #8*/
#image {
    max-width: 20%;
    height: auto;
}
/*The styling below satisfies User Story #9*/
#img-div {
    display:block;
    margin: auto;
    text-align: center;
}
}