/*The image styling below satisfies User Story #8*/
#image {
    max-width: 20%;
    height: auto;
}
/*The styling below satisfies User Story #9*/
#img-div {
    display:block;
    margin: auto;
    text-align: center;
}
/*The styling below satisfies the Color Addition requirement*/
#main {
    background-color:rgb(64,200,200);
}
#img-div {
    background-color:lightgray;
}
#quote {
    background-color:lightgray;
}