/*The styling below satisfies User Story #10*/
#welcome-section {
    height: 100vh;
}
body {
    margin: 0;
}
/*The styling below satisfies User Story #11*/
#navbar {
    width: 100%;
    height: 60px;
    border-style: solid;
    top: 0;
    position: fixed;
}
/*The styling below satisfies the Stylize Welcome Section requirement*/
#welcome-section {
    background-color: rgb(131,173,181);
    color: rgb(94,60,88);
    font-family: 'Recursive', sans-serif;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1,#subheader {
    margin: 0;
}
#subheader {
    font-size: 50px;
}
/*The styling below satisfies the Stylize Navbar requirement*/
#navbar {
    background-color: rgb(94,60,88);
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
.nav {
    padding: 1%;
}
/*The styling below satisfies the Stylize Projects requirement*/
#projects {
    background-color: rgb(199,187,201);
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}
#form-project {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgb(94,60,88);
    font-size: 20px;
}
#techdoc-project {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(94,60,88);
    font-size: 20px;
}
#tribute-project {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: rgb(94,60,88);
    font-size: 20px;
}
#product-project {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(94,60,88);
    font-size: 20px;
}
#project-header {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 50px;
    color: rgb(94,60,88);
    align-self: end;
}
.link{
    display: block;
    width: 100%;
    height: a;
    margin: 0;
    padding-bottom: 5px;
}
/*The styling below satisfies the Stylize Contact Section requirement*/
#contact {
    background-color: rgb(131,173,181);
}
#lets-connect {
    padding-top: 5%;
    text-align: center;
}
#contact-info {
    background-color: rgb(131,173,181);
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
}
#profile-link {
    grid-column: 1/2;
    grid-row: 2/3;
}
#profile-link2 {
    grid-column: 2/3;
    grid-row: 2/3;
}
#profile-link3 {
    grid-column: 3/4;
    grid-row: 2/3;
}
#profile-link4 {
    grid-column: 4/5;
    grid-row: 2/3;
}
h2 {
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 0;
    font-size: 50px;
    color: rgb(94,60,88);
}
.labels {
    font-size: 40px;
    position: relative;
    bottom: .25em;
    padding-left: 2px;
    color: rgb(94,60,88);
}
/*The styling below satisfies the Add Smooth Transitions requirement*/
html {
    scroll-behavior: smooth;
}
/*The styling below satisfies the Add Typewriting Effect requirement. I received help on the typing effect below from https://css-tricks.com/snippets/css/typewriter-effect/*/
#subheader{
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 2.5s steps(22,end), blink-caret .75s step-end infinite;
}
@keyframes typing {
    from {width:0}
    to {width: 44%}
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% {border-color: black;}
}
/*The styling below satisfies User Story #9*/
@media (max-width: 1024px) {
    #navbar {
        font-size: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    h1 {
        font-size: 120px;
    }
    /*I received help on the typing effect below from https://css-tricks.com/snippets/css/typewriter-effect/*/
    #subheader {
        font-size: 80px;
        overflow: hidden;
        border-right: .15em solid black;
        white-space: normal;
        margin: 0 auto;
        animation: 
            typing 2s steps(22,end), blink-caret .75s step-end infinite;
    }
    @keyframes typing {
        from {width:0}
        to {width: 90%}
    }
    #projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15%;
        height: 2200px;
    }
    #project-header {
        align-self: center;
        font-size: 80px;
    }
    .photo {
        width: 500px;
        height: auto;
    }
    .project-tile {
        margin: 5% 0px 3% 0px;
    }
    #tile-text-1, #tile-text-2, #tile-text-3, #tile-text-4 {
        font-size: 50px;
        padding: 0px;
    }
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1000px;
    }
    #contact-info {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-start;
    }
    .logo {
        width: 80px;
        height: auto;
    }
    .labels {
        font-size: 60px;
    }
    #lets-connect {
        font-size: 80px;
        padding: 15%;
    }
    .labels {
        padding-left: 10px;
    }
    #profile-link, #profile-link2, #profile-link3, #profile-link4 {
        padding-bottom: 30px;
    }
}  