/*The styling below satisfies User Stories #13 and #15*/
#header-img {
    width: 50px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
#nav-bar {
    align-self: center;
    font-size: 20px;
    padding-right: 2%;
}
/*The styling below satisfies the Style Features, Video, Pricing, and Form requirement*/
#smile {
    width: 70px;
    height: auto;
}
.satisfaction {
    display: flex;
    margin: auto;
    margin: 0px 35% 0px 35%;
    justify-content: flex-start;
    padding-top: 50px;
}
#sat-text {
    align-self: center;
    padding-left: 30px;
    font-size: 25px;
}
#truck {
    width: 70px;
    height: auto;
}
.delivery {
    display: flex;
    margin: 0px 35% 0px 35%;
    justify-content: flex-start;
}
#del-text {
    align-self: center;
    padding-left: 30px;
    font-size: 25px;
}
#hat {
    width: 70px;
    height: auto;
}
.recipes {
    display: flex;
    margin: 0px 35% 0px 35%;
    justify-content: flex-start;
}
#hat-text {
    align-self: center;
    padding-left: 30px;
    font-size: 25px;
}
#pack1 {
    border-style: solid;
    width: 20%;
    text-align: center;
}
#pack2 {
    border-style: solid;
    width: 20%;
    text-align: center;
}
#pack3 {
    border-style: solid;
    width: 20%;
    text-align: center;
}
#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#pack1, #pack2, #pack3 {
    margin: 5% 3% 5% 3%;
}
#video-section {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding-top: 65px;
}
#signup {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
h1 {
    padding-top: 150px;
    text-align: center;
}
/*The styling below satisfies the Add Color and Fonts requirement*/
body {
    background-color: rgb(231,230,230);
    margin: 0px;
}
#header {
    background-color: rgb(151,145,173);
    display:flex;
}
#page-title {
    font-family: 'Handlee',cursive;
    font-size: 50px;
    align-items: center;
} 
h1 {
    font-size: 55px;
    padding: 15% 10% 10% 10%;
    color: rgb(167,173,145);
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    background-image: url("https://pics.freeartbackgrounds.com/fullhd/Sand_and_Seafoam_Background-1107.jpg");
}
h2 {
    text-align: center;
    color: rgb(237,125,49);
    font-size: 40px;
    margin-top: 70px;
}
#oysters101-link {
    padding-top: 50px;
}
#pricing-link {
    padding: 50px 0px 50px 0px;
}
#signup-link {
    padding: 30px 0px 50px 0px;
}
#pack1-name, #pack2-name, #pack3-name {
    font-size: 25px;
    margin-top: 0;
    background-color: rgb(151,145,173);
    padding: 4%; 
}
#pack1-price, #pack2-price, #pack3-price {
    font-size: 50px;
}
#pack1-desc, #pack2-desc, #pack3-desc {
    font-size: 20px;
}
#pack1, #pack2, #pack3 {
    background-color: rgb(237,125,49);
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
.nav-link {
    padding-right: 20px;
}
/*The media query for smaller screens below satisfies User Story #14. Below, the fonts are increased, the navigation bar is moved below the company name, and the pricing is switched into a column. The h1 header is also changed to black to improve readability on smaller screens.*/
@media (max-width: 1024px) {
    #header {
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1%;
    }
    #nav-bar {
        font-size: 40px;
    }
    #smile {
        width: 120px;
        height: auto;
    }
    .satisfaction {
        display: flex;
        margin: auto;
        margin-bottom: 5%;
        justify-content: flex-start;
        padding-top: 80px;
        width: 50%;
    }
    #sat-text {
        align-self: center;
        padding-left: 30px;
        font-size: 50px;
    }
    #truck {
        width: 120px;
        height: auto;
    }
    .delivery {
        display: flex;
        margin: auto;
        margin-bottom: 5%;
        justify-content: flex-start;
        width: 50%;
    }
    #del-text {
        align-self: center;
        padding-left: 30px;
        font-size: 50px;
    }
    #hat {
        width: 120px;
        height: auto;
    }
    .recipes {
        display: flex;
        margin: auto;
        margin-bottom: 5%;
        justify-content: flex-start;
        width: 50%;
    }
    #hat-text {
        align-self: center;
        padding-left: 30px;
        font-size: 50px;
    }
    #pack1-name, #pack2-name, #pack3-name {
        font-size: 50px;
        margin-top: 0;
        background-color: rgb(151,145,173);
        padding: 4%; 
    }
    #pack1-price, #pack2-price, #pack3-price {
        font-size: 70px;
    }
    #pack1-desc, #pack2-desc, #pack3-desc {
        font-size: 50px;
    }
    #pricing {
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }
    #pack1, #pack2, #pack3 {
        width: auto;
    }
    #email {
        font-size: 50px;
    }
    #submit {
        font-size: 50px;
    }
    #page-title {
        font-size: 80px;
    }
    h1 {
        font-size: 70px;
        color: black;
    }
}