/*The styling below satisfies User Story #14*/
#navbar {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
main {
    margin-left: 20%;
}
/*The styling below satisfies User Story #15*/
@media (max-width: 1024px) {
    #navbar {
        width: 100%;
        height: auto;
        border-style: solid;
        text-align: center;
        position: relative;
    }
    body {
        display: flex;
        flex-direction: column-reverse;
    }
}