/*The styling below satisfies User Story #10*/
#welcome-section {
    border-style: solid;
    height: 100vh;
}
body {
    margin: 0;
}
/*The styling below satisfies User Story #11*/
#navbar {
    width: 100%;
    height: 10vh;
    border-style: solid;
    top: 0;
    position: fixed;
}